.nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    color: white;
    height: 50px;
    align-items: center;
}
.nav ul{
    display: flex;
    list-style-type: none;
    gap: 25px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    color: white;
    align-items: center;
   
}
.active{
    color: red;
}

